body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ddd;
}

.app-container {
    width: 920px;
    background: white;
    padding: 30px;;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    box-shadow: 0px 0px 8px #999;
}
